* {
	box-sizing: border-box;
}

body {
	background: #fff;			  
	font-family: 'Inter';
}

.centered {
	  width: 550px;
	  height: auto;
	  margin: 100px auto auto auto;
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
}

.group {
	  width: 100%;
	  height: 110px;
	  overflow: hidden;
	  position: relative;
}

label {
	  position: absolute;
	  top: 36.6666666667px;
	  color: grey;
	  font: 400 36.6666666667px Inter;
	  cursor: text;
	  transition: 0.25s ease;
}

input {
  display: block;
  width: 100%;
  padding-top: 36.6666666667px;
  border: none;
  border-radius: 0;
  color: grey;
  background: #f2f2f2;
  font-size: 36.6666666667px;
  transition: 0.3s ease;
  
}
input:valid ~ label {
  top: 0;
  font: 700 22px Inter;
  color: #2196f3;
}
input:focus {
  outline: none;
}
input:focus ~ label {
  top: 0;
  font: 700 22px Inter;
  color: #2196f3;
}
input:focus ~ .bar:before {
  transform: translateX(0);
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #333 inset;
  -webkit-text-fill-color: white !important;
}

.bar {
  background: rgba(255, 255, 255, 0.5);
  content: "";
  width: 550px;
  height: 3.6666666667px;
  transition: 0.3s ease;
  position: relative;
}
.bar:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 150%;
  background: #2196f3;
  transform: translateX(-100%);
}

::selection {
  background: rgba(33, 150, 243, 0.3);
}
.inputContent
{
	width: 550px;
	  height: 700px;
	  margin: 100px auto auto auto;
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  display: grid; 
		padding: 10px 10px 10px 10px;
		grid-template-columns: auto; 
	  grid-template-rows: 100px auto;
	  grid-gap:10px;
	  border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: calc(100% - 100px);
}
#findProducer {
  background-image: url('../images/ui/searchIcon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  color: grey;
  font-size: 36.6666666667px;
}
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index : 1;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  height: 50px;
}
#myUL li a:hover:not(.header) {
  background-color: #eee;
}
.searchBox{
	
}
.searchResults{
	max-height: 440px;
	display: grid;
	overflow: scroll;
}
.ui-datepicker-calendar {
   display: none;
}
.ui-datepicker-month {
   display: none;
}
.ui-datepicker-prev{
   display: none;
}
.ui-datepicker-next{
   display: none;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}




